div.container{
    width: 30%;
    margin: 0 auto;
    margin-top: 80px;
    padding: 2px;
    background-color: skyblue;
}

.container>.title{
    height: 23px;
    line-height: 23px;
    padding: 3px;
    background-color: #808080;
}

.container>.info{
    text-align: center;
    background-color: #FFFFFF;
}

.container>.info textarea{
    width: 97%;
    padding: 3px;
    resize: none;
}
.container>.info .back{
    line-height: 40px;
}
.container>.info>.back a{
    text-decoration: none;
}
