<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>

    <link rel="stylesheet" href="/static/css/index.css">

</head>
<body>

    <div class="container">

        <div class="top">
            <h2>{{ sys_name }}</h2>
        </div>
        <div class="bottom">

            <div class="forms">

                <form action="#" method="get">

                    选择业务：
                    <select name="app_id" id="app_id">
                        {% for h in host_info_obj %}
                            <option value="{{h.id}}"> {{ h.app_name }} </option>
                        {% empty %}
                            <option value=""> NULL </option>
                        {% endfor %}
                    </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    起始时间：<input type="datetime-local" name="start_time" id="start_time" onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'2010-11-18 00:00:00'})">
                    结束时间：<input type="datetime-local" name="end_time" id="end_time" onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'2010-11-18 00:00:00'})">&nbsp;&nbsp;
                    <input type="submit" value="提交">
                    <input type="button" value="添加应用">

                </form>

            </div>


            {% if host_info_row %}
                {% ifequal user_find '1' %}
                    <div class="bottom_title">

                        <h4>京东首页 - <span>监测数据图表</span><span>[自定义]</span></h4>

                    </div>

                    <div class="bottom_body">

                        <div class="child_left"></div>
                        <div class="child_right">

                            <div class="child_right_up"></div>
                            <div class="child_right_down"></div>

                        </div>

                    </div>
                {% else %}
                    <div class="bottom_title">

                        <h4>京东首页 - <span>监测数据图表</span><span>[当前]</span></h4>

                    </div>

                    <div class="bottom_body">

                        <div class="child_left"></div>
                        <div class="child_right">

                            <div class="child_right_up"></div>
                            <div class="child_right_down"></div>

                        </div>

                    </div>

                    <div class="bottom_title">

                        <h4>京东首页 - <span>监测数据图表</span><span>[日]</span></h4>

                    </div>

                    <div class="bottom_body">

                        <div class="child_left"></div>
                        <div class="child_right">

                            <div class="child_right_up"></div>
                            <div class="child_right_down"></div>

                        </div>

                    </div>

                    <div class="bottom_title">

                        <h4>京东首页 - <span>监测数据图表</span><span>[月]</span></h4>

                    </div>

                    <div class="bottom_body">

                        <div class="child_left"></div>
                        <div class="child_right">

                            <div class="child_right_up"></div>
                            <div class="child_right_down"></div>

                        </div>

                    </div>

                    <div class="bottom_title">

                        <h4>京东首页 - <span>监测数据图表</span><span>[年]</span></h4>

                    </div>

                    <div class="bottom_body">

                        <div class="child_left"></div>
                        <div class="child_right">

                            <div class="child_right_up"></div>
                            <div class="child_right_down"></div>

                        </div>

                    </div>

                {% endifequal %}

            {% endif %}


        </div>

    </div>

</body>
</html>