<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>info</title>
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static 'css/info.css' %}">
</head>
<body>
    <div class="container">
        <div class="title"> >>{{ show_info.0 }} </div>
        <div class="info">
            <textarea name="" id="" cols="30" rows="10" readonly>{{ show_info.1 }}</textarea>
            <div class="back">
                「<a href="{{ show_info.2 }}">返回</a>」
            </div>
        </div>
    </div>
</body>
</html>